.filter-main {

  background: #f0f0f0;
  padding: 10px;
  background-color: #e5e5e5;
}

.filter-sub {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
// .filter-sub p {
//   font-family: "Work Sans";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 16px;

//   color: #545f7d;
// }
